# Database URL for PostgreSQL
# https://neon.com/
DATABASE_URL=

# Better Auth
# https://better-auth.com/docs/installation
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Firecrawl 
# https://www.firecrawl.dev/app/api-keys
FIRECRAWL_API_KEY=
